{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block Content %}

<div class="container">

    <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">Hello {{user|capfirst}}</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>


      <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/">Home</a></li>
	      </ol>
        </div>
      </div>

    <div class="row">
        <div class="col-lg-12">

Please refer to the <a href="https://hhsidealab.github.io/bluebutton-developer-help/">Developer Documentation</a> or
<a href="http://go.cms.gov/bluebutton">General Blue Button Information</a>
        </div>
      </div>
    	  <div class="row">
        <div class="col-lg-12">
			<h1>Patient</h1>
<a href="{%url 'bbof_get_patient' %}"><button type="button" class="btn btn-primary">Get my Patient Record   </button> </a>
		  <div class="col-lg-4-well">
            <div class="alert alert-info">

              <p>{{settings.OAUTH2IO_HOST}}<br/>
                  /protected/bluebutton/fhir/v1/<br/>
                  <b>Patient/{{request.user.username}}</b><br>
                  <i>?_format=json</i></p>
            </div>
           </div>

        </div>
      </div>

	
	    <div class="row">
        <div class="col-lg-12">
			<h1>Explanation of Benefit</h1>
<a href="{%url 'bbof_get_eob' %}"><button type="button" class="btn btn-primary">Get my Claims    </button> </a>
		   <div class="col-lg-4-well">
            <div class="alert alert-info">

              <p>{{settings.OAUTH2IO_HOST}}<br/>
                  /protected/bluebutton/fhir/v1/<br/>
                  <b>ExplanationOfBenefit/</b><br/>
                  <i>?patient={{request.user.username}}&_format=json</i></p>
            </div>
           </div>
        </div>
      </div>
		
	    <div class="row">
        <div class="col-lg-12">
			<h1>Coverage</h1>
<a href="{%url 'bbof_get_coverage' %}"><button type="button" class="btn btn-primary">Get My Insurance Coverage   </button> </a>

          <div class="col-lg-4-well">
            <div class="alert alert-info">

              <p>{{settings.OAUTH2IO_HOST}}<br/>
                  /protected/bluebutton/fhir/v1/<br/>
                  <b>Coverage/</b><br>
                  <i>?patient={{request.user.username}}&_format=json</i></p>
            </div>
           </div>


        </div>
      </div>
			
		 </div>
	   </div>
 <!--
       <div class="col-lg-12">
           <h2>Remote Response</h2>
           {% if remote_status_code %}<p>Status Code: {{ remote_status_code }}</p>{% endif %}
           {{ remote_content|default:"No response" }}
       </div>
-->
    </div><!-- /.container -->


{% endblock %}
