{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block Content %}

<div class="container">

    <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">Hello {{user|capfirst}}</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>


      <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/">Home</a></li>
	      </ol>
        </div>
      </div>

    <div class="row">
        <div class="col-lg-12">

Please refer to the <a href="https://hhsidealab.github.io/bluebutton-developer-help/">Developer Documentation</a> or
<a href="http://go.cms.gov/bluebutton">General Blue Button Information</a>
        </div>
      </div>
	
	    <div class="row">
        <div class="col-lg-12">
			<h1>Explanation of Benefit</h1>
<a href="{%url 'bbof_get_eob' %}"><button type="button" class="btn btn-primary">{{settings.OAUTH2IO_HOST}}/protected/bluebutton/fhir/v1/ExplanationOfBenefit/?patient={{profile.patient_fhir_id}}&_format=json</button> </a>
		   
        </div>
      </div>
		
			    <div class="row">
        <div class="col-lg-12">
			<h1>Patient</h1>
<a href="{%url 'bbof_get_patient' %}"><button type="button" class="btn btn-primary">{{settings.OAUTH2IO_HOST}}/protected/bluebutton/fhir/v1/Patient/{{profile.patient_fhir_id}}?_format=json</button> </a>
		  

        </div>
      </div>
	    <div class="row">
        <div class="col-lg-12">
			<h1>Coverage</h1>
<a href="{%url 'bbof_get_coverage' %}"><button type="button" class="btn btn-primary">{{settings.OAUTH2IO_HOST}}/bluebutton/fhir/v1/Coverage/?patient={{profile.patient_fhir_id}}&_format=json</button> </a>

        </div>
      </div>
			
		 </div>
	   </div>
 <!--
       <div class="col-lg-12">
           <h2>Remote Response</h2>
           {% if remote_status_code %}<p>Status Code: {{ remote_status_code }}</p>{% endif %}
           {{ remote_content|default:"No response" }}
       </div>
-->
    </div><!-- /.container -->


{% endblock %}
