{% extends "base.html" %}
{% load i18n %}
{% load startswith %}
{% load is_int %}
{% block extra_head %}
{% endblock %}
{% block Content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/probie/">{{ name }}</a></li>
              &nbsp;|&nbsp;
            <li class="active"><a href="/probie/getbyurl">Get By URL</a></li>
          </ol>
        </div>
     </div>

    <div class="row">
       <div class="card col-lg-12">
        <p><span class="h6">Target URI
            </span>:
                <a href="/probie/geturlwithauth?url={{ target_url|urlencode:'' }}" target="_blank">
                    {{ target_url }}</a></p>
       </div>
    </div>


    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>

    <h3 class="container-fluid">
        {% if fe_dict %}

        <h3>Record:</h3>
            {% include "probie_card.html" with card_dict=fe_dict display_level=0 parent_path="0" %}

        {% endif %}
    </div>
    <div class="card">

        {% include "display_all_json.html" %}


  </div>

  <div class="col-sm-12 card-footer">
    {{ What_is_a_Probie|safe }}
  </div>

</div><!-- /.container -->

{% endblock %}

